<section id="services" class="services bg-primary font">
    <div class="row text-center">
        <div class="col-lg-10 col-lg-offset-1">
            <h2 id="geo" class='text-vertical-center-title3'>Geospatial.</h2>
            <hr class="large">
            <div class="row">
                <div class="col-md-2 col-md-offset-1 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-align-left fa-stack-1x"></i>
                            </span>
                        <h4>
                                <strong>Career History</strong>
                            </h4>

                        <p class="details">
                            USAF 2003-2007
                            <br>
                            <br> BAE Systems 2007-2010
                            <br>
                            <br> DoD
                            <br>2010-Present
                        </p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-circle-o-notch fa-stack-1x"></i>
                            </span>
                        <h4>
                                <strong>Development</strong>
                            </h4>

                        <p class="details">Python:[ESRI ArcPy, GDAL, ESRI Add-Ins]
                            <br>
                            <br> Google Maps JavaScript API V3, Leaflet, OpenLayers3</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-cog fa-stack-1x"></i>
                            </span>
                        <h4>
                                <strong>Server Side</strong>
                            </h4>

                        <p class="details">ESRI ArcServer, GeoServer, GeoPortal, PostGIS
                            <br>
                            <br> OGC compliant services including: WMS, WFS, WMTS, WPS, SLD</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-spinner fa-stack-1x"></i>
                            </span>
                        <h4>
                                <strong>Analysis</strong>
                            </h4>

                        <p class="details">ESRI ArcMap 10.x
                            <br> (Network, 3D Spatial, Military Analyst, Statistical Extensions)
                            <br>
                            <br> ArcCatalog, QGIS, RemoteView, SocetGXP</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6">
                    <div class="service-item">
                        <span class="fa-stack fa-4x">
                                <i class="fa fa-cubes fa-stack-1x"></i>
                            </span>
                        <h4>
                                <strong>Education</strong>
                            </h4>

                        <p class="details">B.A American Military University
                            <br> Intel Studies
                            <br>
                            <br> M.S Depaul University
                            <br> Computer Science 2016 -Expected-</p>
                    </div>
                </div>
            </div>
            <!-- /.row (nested) -->
        </div>
        <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->

    <!-- /.container -->
</section>