<header class="header">
    <div class="text-vertical-center-title2">
        <h2 class='text-vertical-center-title1'>Brett Cullen</h2>

        <h2 class='text-vertical-center-title2'>Web Developer & GIS Analyst</h2>
        <br>
        <ul class="list-inline">
            <li>
                <a href="https://github.com/Brett55"><i class="fa fa-github fa-fw fa-2x gitHubLinkedInTwitter"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/Brett_Culln"><i class="fa fa-twitter fa-fw fa-2x gitHubLinkedInTwitter"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/pub/brett-cullen/b0/b89/1b0"><i
          class="fa fa-linkedin-square fa-fw fa-2x gitHubLinkedInTwitter"></i></a>
            </li>
        </ul>
        </br>
        <a ui-sref=".intro" class="btn btn-dark btn-lg">More...</a>
    </div>
</header>

<!-- About -->
<div class="container">
    <section id="about" class="about">
        <div class="row">
            <div class="col-lg-12 text-center">
                <br>
                <br>
                <br>
                <ui-view></ui-view>
            </div>
        </div>
    </section>
</div>