<section id="services" class="services bg-primary font">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 id="dev" class='text-vertical-center-title3'>Projects.</h2>
                <hr class="large"></hr>
            </div>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-md-1 col-xs-12 col-md-offset-1 adjustTextTop">
                    <h3 class="text-center">RideUp:</h3>
                </div>
                <div class="col-md-8 col-xs-12 text-center">
                    <p class="details">
                        <br><a href="http://www.rideup.io">RideUp</a> is a personal project I developed that utilizes
                        PostGIS, geoDjango, HTML, Leaflet, and AngularJS. ‘RideUP’ is a web application for bicycle
                        enthusiasts that serves as the single focal point for all bicycle related events to include;
                        weekly group rides, races, bike swaps, trail work days, and conferences.

                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-1 col-xs-12 col-md-offset-1 adjustTextTop">
                    <h3 class="text-center">Check'R:</h3>
                </div>
                <div class="col-md-8 col-xs-12 text-center">
                    <p class="details">
                        <br><a href="http://www.brettlabz.com/checkr">Check'R</a> is a web application that validates
                        the accuracy of a given data set against Google Maps database holdings. The app processes user
                        inputted data through the ArcPy module and then executes spatial queries against the Google Maps
                        API. The resulting JSON is then analyzed for spatial accuracy and attribution which is then
                        returned to the user.</p>
                </div>
            </div>
        </div>
    </section>