<div class="container">
    <section id="services" class="services bg-primary font">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2 id="dev" class='text-vertical-center-title3'>Development.</h2>
                <hr class="large"></hr>
            </div>
        </div>
    </section>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-xs-4 col-xs-offset-4">
            <h3 class="speaks">Speaks:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="row text-center">
                <div class="col-md-4 col-xs-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa icon-python fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-javascript fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-php-alt fa-stack-1x teal"></i>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="row text-center">
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-java-bold fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-html5 fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-css3 fa-stack-1x teal"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container makeBigger">
    <div class="row text-center">
        <div class="col-md-4 col-xs-4 col-xs-offset-4">
            <h3 class="speaks">Uses:</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="row text-center">
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-apple fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-git fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-linux fa-stack-1x teal"></i>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12">
            <div class="row text-center">
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-google-developers fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-mysql fa-stack-1x teal"></i>
                </div>
                <div class="col-md-4 col-xs-4">
                            <span class="fa-stack fa-4x">
                            <i class="fa icon-postgres-alt fa-stack-1x teal"></i>
                </div>
            </div>
        </div>
    </div>
</section>